<h1>Estadisticas</h1>
<table>
   <tr>
      <td><b>Número de preguntas:</b></td><td><%= estadisticasNum["preguntas"] %></td>
   </tr>
   <tr>
      <td><b>Número de comentarios totales:</b></td><td><%= estadisticasNum["comentarios"] %></td>
   </tr>
   <tr>
      <td><b>Número medio de comentarios por pregunta:</b></td><td><%= estadisticasNum["mediaComentariosPreguntas"] %></td>
   </tr>
   <tr>
      <td><b>Número de preguntas sin comentarios:</b></td><td><%= estadisticasNum["preguntaSinComentarios"] %></td>
   </tr>
   <tr>
      <td><b>Número de preguntas con comentarios:</b></td><td><%= estadisticasNum["preguntasConComentarios"] %></td>
   </tr>   
</table>
